

.categoryContainer{
    width: 220px;
    position: sticky;
    left: 0;
    
  
}
.wrapper{
 position: fixed;
 top: 65px;
    /* top:0px; */
    
}
.categoryList{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 18px 10px;
    border-radius: 10px;
    padding: 10px, 40px, 10px, 20px;
    display: flex;

    /* align-items: center; */
    Gap: 15px;

   
    /* max-height: max-content; */
}
.listItem{
    height: 42px;
    Top: 174px;
    Left: 20px;
    border-radius: 10px;
    padding: 10px, 40px, 10px, 20px;
    display: flex;

    align-items: center;
    Gap: 20px;
    
}
.Produce:hover{
    cursor: pointer;
    background-color: #5DA9E9;
}
.activated{
    /* width: 151px; */
    padding: 2px;
    border-radius: 10px;

    color:white;
    background-color: #5DA9E9;
}
.activated span{
    color:white;
}
.listItem span:hover{
color: white;
}
.listItem:hover{
    cursor: pointer;
    background-color: #5DA9E9;
}
.item{
    width: 151px;
    height: 42px;
    display: flex;

    align-items: center;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    padding-left: 12px;
    /* or 22px */


    /* Neutral/Gray */

    color: #737D94;

}